* {
    margin: 0;
    padding: 0;
    font-size: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #ff9393;
    display: flex;
    align-items: center;
    text-align: center;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 30px;

}
.app h1{
    font-size: 25px;
    color: #ff9393 ;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #ff9393;
    font-weight: 600;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    background: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: yellowgreen;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: yellowgreen;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}
